name: CI

on:
  push:
    branches:
      - '*'
      - '!main'

env:
  RUN: ${{ github.run_id }}-${{ github.run_number }}
  AWS_DEFAULT_REGION: us-east-1
  CI_SDK_V1_ROLE: arn:aws:iam::123124136734:role/CI_SDK_V1_ROLE
  CI_JOBS_ROLE: arn:aws:iam::180635532705:role/CI_Jobs_Role
  PACKAGE_NAME: aws-iot-device-sdk-python
  AWS_EC2_METADATA_DISABLED: true

jobs:
  unit-tests:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.8'
      - name: Unit tests
        run: |
          python3 setup.py install
          pip install pytest
          pip install mock
          python3 -m pytest test

  integration-tests:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # This is required for requesting the JWT
      contents: read # This is required for actions/checkout
    strategy:
      fail-fast: false
      matrix:
        test-type: [ MutualAuth, Websocket, ALPN ]
        python-version: [ '3.8', '3.13' ]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ env.CI_JOBS_ROLE }}
          aws-region: ${{ env.AWS_DEFAULT_REGION }}
      - name: Integration tests
        run: |
          pip install pytest
          pip install mock
          pip install boto3
          python --version
          ./test-integration/run/run.sh ${{ matrix.test-type }} 1000 100 7
