name: CI

on:
  push:
    branches:
      - '*'
      - '!main'

env:
  RUN: ${{ github.run_id }}-${{ github.run_number }}
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  PACKAGE_NAME: aws-iot-device-sdk-python
  AWS_EC2_METADATA_DISABLED: true

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.6'
      - name: Unit tests
        run: |
          python3 setup.py install
          pip install pytest
          pip install mock
          python3 -m pytest test

  integration-tests:
    concurrency: 
      group: integration-test
      cancel-in-progress: false
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        test-type: [ MutualAuth, MutualAuthT , Websocket, ALPN, ALPNT]
        python-version: [ '2.x', '3.x' ]
        #[MutualAuth, Websocket, ALPN]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Integration tests
        run: |
          pip install pytest
          pip install mock
          pip install boto3
          ./test-integration/run/run.sh ${{ matrix.test-type }} 1000 100 7